.header-container {
  height: 200px;
  background-color: aliceblue;
  position: relative;
}

$title-container-height: 150px;

.header-container .title-container {
  margin-bottom: -($title-container-height / 2);
  padding: 0 1rem;
  position: absolute;
  bottom: 0;
  left: 50px;
  height: $title-container-height;
  background-color: gainsboro;
}

.recipes-container {
  margin-top: 100px;
}
