.recipe-summary-card {
  margin-bottom: 1rem;
  padding: 1rem;
  width: max-content;
  border: solid thin black;
  border-radius: 6px;
}

$image-container-size: 200px;

.recipe-summary-card .image-container {
  width: $image-container-size;
  height: $image-container-size;
  background-size: cover;
  background-position: center;
}
